<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="<% if(post.active == 'home')   {%> <%= 'active' %> <%}%>"><a href="/">Home</a></li>
          <li class="<% if(post.active == 'control'){%> <%= 'active' %> <%}%>"><a href="control">Control</a></li>
          <li class="<% if(post.active == 'remote') {%> <%= 'active' %> <%}%>"><a href="remote">Remote</a></li>
          
        </ul>
        <h3 class="text-muted"><%- title %></h3>
      </div>
      <br/>

     

