<div class="container">

	<div class="row">
		<img src="" id="frame" style="width:400px; height:300px"/>
		<div id="log"></div>
	</div>



	<div class="panel panel-default col-md-6  ">
		<div class="panel-heading">controls</div>
		<div class="panel-body col-md-offset">
			<div class="row">
				<div id="led" class="col-sm-offset-5 col-md-offset-5 btn btn-default btn-sm">led-0</div>
			</div>
			<div class="row">
				<button id="forward" type="button" class="btn btn-default col-sm-2 col-md-2 col-sm-offset-2 col-md-offset-2">Forward</button>
			</div>
			<div class="row">
				<button id="left" type="button" class="btn btn-default col-sm-2 col-md-2">Left</button>
				<button id="backward" type="button" class="btn btn-default col-sm-2 col-md-2">Backward</button>
				<button id="right" type="button" class="btn btn-default col-sm-2 col-md-2">Right</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/control.js"></script>