<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1>Comming Soon!</h1>
			<p>some sweet live video.</p>
		</div>
	</div>


	<div class="panel panel-default col-md-6  ">
		<div class="panel-heading">controls</div>
		<div class="panel-body col-md-offset">
			<div class="row">
				<button type="button" class="btn btn-default col-md-2 col-md-offset-2">Forward</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-default col-md-2">Left</button>
				<button type="button" class="btn btn-default col-md-2">Backward</button>
				<button type="button" class="btn btn-default col-md-2">Right</button>
			</div>
		</div>
	</div>
</div>